html, body {
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.family-yahei {
  font-family: "Microsoft YaHei";
}

.family-yahei {
  font-family: "Arial";
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.position-center {
  left: 50%;
  transform: translateX(-50%);
}

.position-middle {
  top: 50%;
  transform: translateY(-50%);
}
