html, body {
  font-family: "Microsoft YaHei";
}

.family-yahei {
  font-family: "Microsoft YaHei";
}

.position-center {
  left: 50%;
  transform: translateX(-50%);
}

.position-middle {
  top: 50%;
  transform: translateY(-50%);
}
